[Unit]
Description=Interfaccia Web Solar EVR
After=network.target

[Service]
# Usa il Python dell'ambiente virtuale (venv)
ExecStart=/home/tressilloide/solar/regolatore-potenza-carica/venv/bin/python3 /home/tressilloide/solar/regolatore-potenza-carica/solar_webinterface.py

# Cartella di lavoro corretta
WorkingDirectory=/home/tressilloide/solar/regolatore-potenza-carica/

# Utente attuale
User=tressilloide

# Riavvio automatico
Restart=always
RestartSec=5

# Output dei log per il debug (utile per vedere errori di matplotlib o rete)
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
